body {
  margin: 0;
  padding: 0;
  background: #f8fafc;
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: none;
}

.card {
  border-radius: 20px;
}

.navbar-brand {
  font-weight: bold;
}

img {
  max-width: 100%;
}